.argument {
  @media (min-width: @tablet-width) {
    border: 1px solid @gray--bright;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-bottom: 36px;
    margin-top: 69px;
  }
}

.argument__heading {
  font-family: @deafult-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: @deafult-weight;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.argument__list {
  display: grid;
  grid-template-columns: 2fr;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: list 0;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 42px;
    padding-top: 43px;
    row-gap: 18px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    position: relative;
    min-height: 689px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    min-height: initial;
  }
}

.argument__list-item {
  display: flex;
  flex-direction: row;
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 18px;

  &::before {
    @media (max-width: @mobile-width-only) {
      margin-right: 25px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    width: 70%;
    margin-top: 93px;
    margin-left: 14px;

    &::after {
      display: flex;
      flex-direction: column;
      z-index: -2;
      font-family: @deafult-font;
      font-weight: @deafult-weight;
      font-size: 280px;
      line-height: 280px;
      width: 112px;
      height: 280px;
      text-align: center;
      color: @white--light;
      position: absolute;
      counter-increment: list;
      content: counter(list);
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    width: 81%;
    margin-bottom: 83px;
    position: relative;
  }
}

.argument__list-item:last-child {
  @media (min-width: @desktop-width) {
    margin-left: 58px;
  }
}

.argument__list-item--healf {
  &::before {
    width: 60px;
    height: 60px;
    content: url("../img/healficon.svg");
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      counter-increment: list;
      content: counter(list);
      top: 54px;
      left: 117px;
    }

    @media (min-width: @desktop-width) {
      top: -36px;
      left: 104px;
    }
  }
}


.argument__list-item--form {
  &::before {
    width: 60px;
    height: 60px;
    content: url("../img/formicon.svg");
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      counter-increment: list;
      content: counter(list);
      top: 43px;
      right: 104px;
    }

    @media (min-width: @desktop-width) {
      top: -35px;
      left: 117px;
    }
  }
}

.argument__list-item--replacing {
  &::before {
    width: 60px;
    height: 60px;
    content: url("../img/replacingicon.svg");
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      counter-increment: list;
      content: counter(list);
      bottom: 36px;
      left: 112px;
    }

    @media (min-width: @desktop-width) {
      bottom: -84px;
      left: 140px;
    }
  }
}

.argument__list-item--result {
  &::before {
    width: 60px;
    height: 60px;
    content: url("../img/resulticon.svg");
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      counter-increment: list;
      content: counter(list);
      bottom: 48px;
      right: 100px;
    }

    @media (min-width: @desktop-width) {
      bottom: -53px;
      right: 20px;
    }
  }
}
