.argument__heading {
  font-family: @deafult-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: @deafult-weight;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-family: @deafult-font;
    font-weight: @deafult-weight;
  }
}

.argument__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.argument__list-item {
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 18px;

  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: row;
    font-family: @extra-font;
    font-weight: @deafult-weight;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: @tablet-width) {
    font-family: @extra-font;
    font-weight: @deafult-weight;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: @desktop-width) {
      font-family: @extra-font;
      font-weight: @deafult-weight;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.argument__list-item::before {
  margin-right: 20px;
}

.argument__list-item--healf::before {
  width: 60px;
  height: 60px;
  content: url("../img/healficon.svg");
}

.argument__list-item--form::before {
  width: 60px;
  height: 60px;
  content: url("../img/formicon.svg");
}

.argument__list-item--replacing::before {
  width: 60px;
  height: 60px;
  content: url("../img/replacingicon.svg");
}

.argument__list-item--result::before {
  width: 60px;
  height: 60px;
  content: url("../img/resulticon.svg");
}
