.argument__heading {
font-family: "Oswald","Arial",sans-serif;
font-size: 36px;
line-height: 40px;
font-weight: 400;
}

.argument__list {
  padding:0;
  margin: 0;
  list-style: none;
}

.argument__list-item {
font-family: Arial;
font-size: 14px;
line-height: 18px;
display: flex;
flex-direction: row;
color:@argument__color;
margin-bottom: 20px;
}

.argument__list-item::before {
margin-right: 20px;
}

.argument__list-item--healf::before {
width: 60px;
height: 60px;
content: url("../img/healficon.svg");
}

.argument__list-item--form::before {
width: 60px;
height: 60px;
content: url("../img/formicon.svg");
}

.argument__list-item--replacing::before {
width: 60px;
height: 60px;
content: url("../img/replacingicon.svg");
}

.argument__list-item--result::before {
width: 60px;
height: 60px;
content: url("../img/resulticon.svg");
}
