.button {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 10px 22px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @greenbasic;
  color: @white;

  &:hover {
    background: @limeade;
  }

  &:active {
    color: @lightsaturatedyellow;
  }

}
