.button {
font-size: 14px;
line-height: 18px;
background-color:@button__color;
padding: 8px 44px;
text-decoration: none;
color:@bg;
text-transform: uppercase;
font-family:"Oswald","Arial",sans-serif;
font-weight: 400;
}
.button:hover {
background: @button__hover;
}

.button:active {
color:@button__active;
}
