.catalog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 5px;
}

.catalog__heading {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-size: 16px;
  line-height: 20px;
  text-transform: @use-uppercase;
}

.catalog__text {
  font-family: @extra-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__show {
  margin-top: auto;
  background-color: @white--light;
  color: @gray--middle;
}
