.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px 5px;

  @media (max-width: @mobile-width-only) {
    border: 1px solid @light;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  @media (min-width: @tablet-width) {
    justify-items: center;
    min-height: 430px;
    background-color: @white--light;
    margin-bottom: 60px;
  }
}

.catalog__other {
  @media (min-width: @tablet-width) {
    display: flex;
    background-color: @white--basic;
    box-sizing: border-box;
    align-items: center;
    border: 2px solid @white--light;
    justify-content: center;
  }
}

.catalog__heading {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-size: 16px;
  line-height: 20px;
  text-transform: @use-uppercase;

  @media (max-width: @mobile-width-only) {
    padding-top: 50px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 68%;
  }
}

.catalog__wrapper {
  grid-column-start: 2;
  grid-column-end: -1;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    border: 1px solid @gray--ligth;
    border-left: none;
    border-right: none;
  }
}

.catalog__text {
  font-family: @extra-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 65%;
  }
}

.catalog__show {
  margin-top: auto;
  background-color: @white--light;
  color: @gray--middle;

  @media (min-width: @tablet-width) {
    margin-top: 87px;
  }
}

.catalog__extra {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;

  &::before {
    content: "";
    width: 30px;
    top: 35px;
    position: absolute;
    border: 2px solid @gray--82;
    transform: rotate(-180deg);
  }

  &::after {
    content: "";
    width: 30px;
    top: 35px;
    position: absolute;
    border: 2px solid @gray--82;
    transform: rotate(90deg);
  }

  @media (min-width: @desktop-width) {
    justify-items: center;
  }
}

.catalog__link {
  text-decoration: none;
  color: @gray--13;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-left: 1px;
  }
}

.catalog__order {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 25px;
  }

  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: @tablet-width) {
    width: 65%;
    height: 24%;
  }
}

.catalog__description,
.catalog__parameter {
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
