.controls__before {
  font-family: Oswald;
  font-weight: 400;
  text-transform: uppercase;
  left: calc(50% - 49px/2);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.controls__after {
  font-family: Oswald;
  font-weight: 400;
  text-transform: uppercase;
  left: calc(50% - 49px/2);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
