.contacts {
  background-color: @white--basic;

  @media (min-width: @tablet-width) {
    background-color: @white--basic;
    max-width: 100%;
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    background-color: @white--basic;
    margin-bottom: 0;
  }
}

.contacts__site {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 11px 0;
  column-gap: 1px;

  @media (min-width: @tablet-width) {
    column-gap: 275px;
    padding: initial;
  }

  @media (min-width: @desktop-width) {
    background-color: @white--basic;
    position: absolute;
    top: 98px;
    padding-bottom: 47px;
    padding-left: 68px;
    column-gap: 0;
    justify-items: start;
  }
}

.contacts__text {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-size: 16px;
  line-height: 20px;
  color: @gray--darken;
  text-transform: @use-uppercase;
  min-width: 50%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
    margin-left: 41px;
  }

  @media (min-width: @desktop-width) {
    min-width: initial;
    padding-left: 9px;
    padding-top: 40px;
    max-width: 168px;
    margin-left: 0;
  }
}

.contacts__adress {
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 20px;
  color: @gray--middle;
  margin-top: 15px;
  min-width: 60%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 82%;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 170px;
    margin-left: 0;
    padding-top: 0;
    margin-top: 56px;
    margin-right: 81px;
  }
}

.contacts__adress br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.contacts__adress--wrapper {
  @media (min-width: @tablet-width) {
    margin-left: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.contacts__adress--clarification {
  @media (min-width: @tablet-width) {
    display: block;
    margin-left: 30px;
    margin-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
    margin-top: 14px;
  }
}
