.controls__before {
  font-family: @deafult-font;
  font-weight: 400;
  text-transform: @use-uppercase;
  left: calc(50% - 49px / 2);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted @black--basic;
  }
}

.controls__after {
  font-family: @deafult-font;
  font-weight: 400;
  text-transform: @use-uppercase;
  left: calc(50% - 49px / 2);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted @black--basic;
  }
}
