.contacts {
  background-color: @white--light;

  @media (min-width: @tablet-width) {
    background-color: @white--basic;
    max-width: 100%;
  }

  @media (min-width: @desktop-width) {
    background-color: @white--basic;
  }
}

.contacts__site {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 27px 0;
  column-gap: 1px;

  @media (min-width: @tablet-width) {
    column-gap: 275px;
  }

  @media (min-width: @desktop-width) {
    background-color: @white--basic;
    position: absolute;
    bottom: -1725px;
    width: 35%;
    column-gap: 87px;
  }
}

.contacts__text {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-size: 16px;
  line-height: 20px;
  color: @gray--darken;
  text-transform: @use-uppercase;
  min-width: 50%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__adress {
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 20px;
  color: @gray--middle;
  margin-top: 15px;
  min-width: 60%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 75%;
  }

  @media (min-width: @desktop-width) {
    min-width: 60%;
  }
}
