.copyright__link {
  text-decoration: none;
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 16px;
  line-height: 18px;
  color: @gray--middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}
