.example {
  background-color: @gray--basic;
}

.example__heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: @deafult-weight;
  font-family: @deafult-font;
  color: @black--basic;
}

.example__text {
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 18px;
  color: @gray--middle;
}

.example__number {
  font-family: @deafult-font;
  color: @black--basic;
  font-size: 24px;
  line-height: 24px;
}

.example__text-small {
  font-family: @extra-font;
  font-size: 12px;
  line-height: 12px;
  color: @gray--middle;
}

.example__stats {
  border: 1px solid @gray--ligth;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.example__total {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 20px;
  text-transform: @use-uppercase;
  text-align: center;
}

.example__scale {
  height: 14px;
  background-color: @white--extra;
  border: 1px solid @gray--ligth;
  border-radius: 6px;
  width: 84px;
  margin: 3px 18px;
}

.example__controls {
  display: flex;
  flex-direction: row;
}
