.example {
  display: flex;
  flex-direction: column;
  background-color: @gray--basic;
  align-items: center;
  padding-bottom: 35px;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 43px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    background-color: @white--basic;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 145px;
    background: linear-gradient(90deg, @white--light 73%, @gray--basic 50%);
    padding-bottom: 0;
    position: relative;
  }
}

.example__heading {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  color: @black--basic;
  font-size: 36px;
  line-height: 40px;

  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 31px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: -185px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.example__text {
  font-family: @extra-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 18px;
  color: @gray--middle;
  margin-bottom: 27px;

  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    margin-right: 55px;
  }

  @media (min-width: @desktop-width) {
    max-width: 436px;
    margin-top: 70px;
    margin-left: 0;
    padding-left: 0;
  }
}

.example__number {
  font-family: @deafult-font;
  color: @black--basic;
  font-size: 24px;
  line-height: 24px;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    display: block;
    margin-top: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats {
  border: 1px solid @gray--ligth;
  box-sizing: border-box;
  border-radius: 3px;
  min-width: 124px;
  max-height: 56px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
    min-width: 162px;
    min-height: 72px;
    margin-top: 28px;
  }
}

.example__stats--second {
  @media (min-width: @desktop-width) {
    margin-left: -39px;
  }
}

.example__text-small {
  font-size: 12px;
  line-height: 12px;
  color: @gray--middle;
  position: absolute;
  font-family: @extra-font;
  background-color: @gray--basic;
  max-width: 77px;

  @media (max-width: @mobile-width-only) {
    top: 33px;
    left: 42px;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @white--basic;
    min-width: 142px;
    top: 76px;
    left: 10px;
  }

  @media (min-width: @desktop-width) {
    background-color: @white--light;
    color: @gray--middle;
    left: 8px;
  }
}

.example__text-small--extra {
  position: absolute;
  font-family: @extra-font;
  font-size: 12px;
  line-height: 12px;
  color: @gray--middle;
  background-color: @gray--basic;
  top: 35px;
  left: 178px;
  max-width: 77px;

  @media (max-width: @mobile-width-only) {
    top: 34px;
    left: 198px;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    top: 76px;
    left: 213px;
    background-color: @white--basic;
    min-width: 142px;
  }

  @media (min-width: @desktop-width) {
    left: 215px;
    background-color: @white--light;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;


  @media (max-width: @mobile-width-only) {
    max-width: 279px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    justify-items: start;
    grid-template-columns: 0.2fr 0.2fr;
    justify-content: initial;
    margin-left: 0;
  }
}

.example__total {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 20px;
  text-transform: @use-uppercase;
  margin-top: 34px;
  margin-left: 23px;

  @media (max-width: @mobile-width-only) {
    margin-left: 44px;
  }

  @media (min-width: @tablet-width) {
    text-transform: @use-uppercase;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
    margin-left: auto;
    max-width: 174px;
    margin-right: 31px;
  }

  @media (min-width: @desktop-width) {
    max-width: initial;
    padding-top: 20px;
    grid-column-start: -3;
    grid-column-end: 3;
    margin-left: 0;
    margin-right: 0;
  }
}

.example__scale {
  background: @white--basic;
  border: 1px solid @gray--ligth;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 82px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;
    background-color: @gray--86;
  }
}

.example__controls {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  justify-content: center;
  position: relative;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    left: 102px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 15px;
    width: initial;
    bottom: 54px;
    left: initial;
  }
}

.example__slider {
  @media (min-width: @tablet-width) {
    position: relative;
    background-image: linear-gradient(to bottom, @white--basic, @white--basic 183px, @white--light 183px, @white--light);
    top: 65px;
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    height: 656px;
    bottom: -90px;
    right: -40px;
    position: absolute;
    top: initial;
    background-image: none;
  }
}

.example__item {
  @media (min-width: @tablet-width) {
    min-width: 100%;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    min-width: initial;
  }
}

.example__img--mobile {
  @media (max-width: @mobile-width-only) {
    display: block;
    padding-top: 28px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__img--tablet {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.example__img--desktop {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.example__description {
  @media (max-width: @mobile-width-only) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @tablet-width) {
    background-color: @white--basic;
    margin-bottom: 82px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    background-color: initial;
    margin-bottom: 0;
    padding-bottom: 54px;
    padding-top: 11px;
    position: relative;
  }
}

.example__start {
  @media (min-width: @desktop-width) {
    padding-left: 40px;
  }
}

.example__sum {
  @media (min-width: @desktop-width) {
    padding-left: 57px;
  }
}
