.extra {
  position: relative;
}

.extra__heading {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  background-color: @white--basic;
  display: inline-block;

  &::before {
    position: absolute;
    content: "";
    border: 2px solid @green--additionally;
    min-width: 100%;
    top: 27px;
    right: 0;
    z-index: -2;
  }

  @media (max-width: @mobile-width-only) {
    margin-left: 20px;
    text-align: initial;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 16px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: unset;
    margin-top: 23px;
    margin-left: 60px;
  }
}

.extra__heading--product {
  @media (min-width: @tablet-width) {
    display: block;
    padding-left: 49px;
    padding-right: 46px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 45px;
    padding-left: 50px;
  }
}

.extra__detail {
  text-decoration: none;
  color: @gray--additionally;
  font-family: @deafult-font;
  font-style: @deafult-style;
  font-weight: @deafult-weight;
  font-size: 16px;
  line-height: 16px;
  text-transform: @use-uppercase;
  padding: 13px 1px 1px 1px;
  margin: 1px;

  @media (max-width: @mobile-width-only) {
    padding: 2px 1px 11px 1px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.extra__link {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding-left: 38px;
    padding-top: 9px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 0;
  }
}

.extra__list {
  padding-left: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 19px;
    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 0;
  }
}

.extra__item {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid @gray--ligth;
  border-left: none;
  border-right: none;
  border-bottom: none;

  @media (max-width: @mobile-width-only) {
    padding: 11px 0 18px;
    margin: 0 20px 0 20px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 325px 325px 245px;
    grid-template-rows: auto;
    border-bottom: 1px solid @gray--ligth;
    align-items: center;
  }
}

.extra__table {
  font-family: @extra-font;
  font-style: @deafult-style;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;

  @media (max-width: @mobile-width-only) {
    margin-top: 0;
  }

  @media (min-width: @tablet-width) {
    align-content: stretch;
    align-items: center;
    justify-content: flex-end;
    margin-right: 54px;
  }

  @media (min-width: @desktop-width) {
    align-items: unset;
    align-content: unset;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    margin-right: 38px;
  }
}

.extra__order {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 28px;
    margin-left: 37px;
    width: 589px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: unset;
    grid-column-end: unset;
    margin-bottom: 21px;
    margin-top: 11px;
    width: initial;
  }
}

.extra__inner {
  @media (max-width: @mobile-width-only) {
    margin-top: 35px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
    padding-top: 58px;
    flex-direction: row;
  }
}
