.intro {
  @media (max-width: @mobile-width-only) {
    background-color: @green--extra;
    background-image: url("../img/bgimg.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    width: 100%;
    height: 826px;
    background-position-x: 50%;
    background-position-y: 150px;
  }

  @media (min-width: @desktop-width) {
    background-position: 70%;
    width: 100%;
  }
}

.intro__heading {
  font-family: @deafult-font;
  font-style: @deafult-style;
  font-weight: @deafult-weight;
  font-size: 36px;
  line-height: 36px;
  color: @white--basic;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 516px;
    color: @black--basic;
  }
}

.intro__text {
  font-family: @deafult-font;
  font-style: @deafult-style;
  font-weight: @deafult-weight;
  font-size: 14px;
  line-height: 14px;
  color: @white--basic;
  text-transform: @use-uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black--basic;
  }
}

.intro__img--tablet,
.intro__img--desktop {
  display: none;
}


.intro__content {
  @media (min-width: @tablet-width) {
    margin-left: 100px;
  }
}
