.main-nav__link {
  font-family: @deafult-font;
  font-weight: @extra-weight;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: @black--basic;
  padding: 23px 20px;
}

.main-nav__nolink {
  padding: 23px 20px;
  font-family: @deafult-font;
  font-weight: @extra-weight;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-top: 1px;

  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.main-nav__toggle {
  display: none;
}
