.matching__heading,
.matching__comment,
.matching__optional {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin-bottom: 35px;
}

.matching__text {
  font-family: Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.matching__item {
  display: flex;
}

.matching__list {
  margin: 0;
  padding: 0;
}

.matching__interaction {
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: @charcoal;

}

.matching__group {
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @charcoal;
}

.matching__form-questionnaire {
  border: none;
  text-decoration: none;
}

.matching__form-parameters {
  border: none;
}

.matching__merging {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.matching__form-parameters {
  margin-bottom: 15px;
}

.matching__checkbox {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.matching__more+label::before {
  content: url("../img/radiobuttonactive.svg");
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
}

.matching__more:checked+label::before {
  content: url("../img/radioon.svg");
  position: absolute;
  width: 30px;
  height: 30px;
}

.matching__form-owner,
.matching__form-comments,
.matching__form-extra {
  border: none;
}

.matching__owner,
.matching__information {
  margin: 0;
  padding: 0;
  list-style: none;
}

.matching__detail {
  display: flex;
}

.matching__number {
  margin-right: 11px;
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.matching__enter {
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @charcoal;
}

.matching__intel {
  border: 1px solid @platinum;
  box-sizing: border-box;
  width: 280px;
  height: 150.52px;
}

.matching__extra {
  list-style: none;
  margin: 0;
  padding: 0;
}

.matching__radiobox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.matching__additionally+label::before {
  content: url("../img/checkboxoff.svg");
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
}

.matching__additionally:checked+label::before {
  content: url("../img/checkboxon.svg");
  position: absolute;
  width: 26px;
  height: 26px;
}

.matching__link {
  padding: 14px 44px;
  border: none;
  width: 280px;

}

.matching__submit {
  font-family: Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;
  margin-left: 82px;
}
