.page-main__header {
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-style: @deafult-style;
  font-size: 36px;
  line-height: 36px;

  @media (max-width: @mobile-width-only) {
    padding-top: 27px;
    padding-bottom: 41px;
    margin-bottom: 0;
    border: 1px solid @light;
    border-left: none;
    border-right: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__catalog {
  list-style: none;
  margin: 0;
  padding: 0;


  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}
