.page-header {
  @media (max-width: @mobile-width-only) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header__link {
  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}

.page-header--index {
  @media (min-width: @desktop-width) {
    background-image: url("../img/indexbgdesk.jpg"), linear-gradient(90deg, @white--basic 50%, @green--50 50%);
    background-position: 99% 0%;
    background-repeat: no-repeat;
    margin-bottom: 85px;
    position: relative;
  }
}

.page-header__content {
  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    margin-top: 11px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 50px;
  }
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
