.site-list__item--current {
  font-family: @deafult-font--first;
  font-style: @deafult-style--first;
  font-weight: @deafult-weight--first;
  font-size: 36px;
  line-height: 36px;
  color: @black--basic;
}
