.site-list__item--current {
  font-family: @deafult-font;
  font-style: @deafult-style;
  font-weight: @deafult-weight;
  font-size: 36px;
  line-height: 36px;
  color: @black--basic;

  @media (min-width: @tablet-width) {
    margin-right: 34px;
  }
}

.site-list__item {
  @media (max-width: @mobile-width-only) {
    text-transform: uppercase;
    border: 1px solid @gray--bright;
    border-left: none;
    border-right: none;
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 29px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 34px;
  }
}

.site-list__item:last-child {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 6px;
  }
}

.site-list__item:first-child {
  @media (max-width: @mobile-width-only) {
    margin-top: 17px;
  }
}
