.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;

  @media (max-width: @mobile-width-only) {
    margin-top: 15px;
    margin-bottom: 18px;
    margin-left: 21px;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 20px;
    margin-bottom: -6px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 129px;
  }
}

.social__link {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
}

.social__item {
  @media (max-width: @mobile-width-only) {
    margin-top: 0;
    padding-right: 0;
    margin-left: 6px;
    margin-right: 14px;
  }
}
