.main-button {
  display: flex;
  background: @green--additionally;
  align-items: center;
  width: auto;
  padding: 8px 44px;
  border-radius: 3px;
  font-family: @deafult-font;
  font-weight: @deafult-weight;
  font-style: @deafult-style;
  color: @white--basic;
  text-decoration: @none-text-decoration;
  text-transform: @use-uppercase;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: fit-content;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 44px;
  }
}
